/* Общие стили */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fc;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parking-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}


/* Background style */
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(21, 82, 99, 0.65)), to(rgba(21, 82, 99, 0.55)));
    background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}


/* Основные стили для кнопок */
.upload-button,
.ok-button,
.back-to-profile {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.upload-button {
    background-color: #007bff;
}

.upload-button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.ok-button {
    display: none; /* Скрыть кнопку по умолчанию */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.ok-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.back-to-profile {
    background-color: #007bff;
}

.upload-button:hover,
.ok-button:hover,
.back-to-profile:hover {
    transform: scale(1.05);
}

/* Стили для загрузки фото */
.photo-upload h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.custom-file-upload {
    margin-bottom: 20px;
}

.custom-file-label {
    display: block;
    padding: 10px;
    background-color: #2575fc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}

.custom-file-input {
    display: none; /* Скрыть стандартное поле загрузки */
}

.uploaded-photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.uploaded-car-photo {
    width: 120px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для чекбоксов и секции тарифов */
.pricing-options {
    z-index: 10;
    position: relative;
    display: none; /* Изначально скрыто */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pricing-options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.pricing-options input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

/* Стили сообщений */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.alert-success {
    background-color: #28a745;
    color: rgb(247, 247, 247);
}

.alert-danger {
    background-color: #dc3545;
    color: white;
}
