body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/13/20/brick-wall-1834446_960_720.jpg); /* Замените на путь к вашему фону */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-container {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для контента */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.avatar-section {
    position: relative;
    margin-right: 30px;
}

.avatar-section img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #007BFF;
}

.upload-button {
    display: block;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.user-details p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.car-details, .photo-upload {
    width: 100%;
    margin: 20px 0;
}

.car-details h2, .photo-upload h2 {
    margin-bottom: 10px;
    color: #007BFF;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.uploaded-photos-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.uploaded-car-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.profile-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.profile-footer .btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: hsl(0, 12%, 94%);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-footer .btn:hover {
    background-color: #0056b3;
}

.profile-footer .btn-secondary {
    background-color: #dc3545;
}

.profile-footer .btn-secondary:hover {
    background-color: #c82333;
} 


.profile-background {
    background-color: rgba(0, 0, 0, 0.6); /* Временный цвет фона */
    background-image: url('{% static "app_home/slider-bg.jpg" %}');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


