.navbar-brand {
    margin-left: 350px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.brand-text {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover .brand-text {
    color: #b18c48;
}

/* Background style */
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.profile-actions {
    display: flex;
    gap: 10px;
    margin-right: 220px;
}


.parking-container {
    max-width: 900px;
    margin: 100px auto 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Основные стили для кнопок */
.upload-button,
.ok-button,
.back-to-profile {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.upload-button {
    background-color: #007bff;
}

.upload-button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.upload-button:hover {
    background-color: #24a6af;
    transform: scale(1.05);
}

.ok-button {
    display: none;
    /* Скрыть кнопку по умолчанию */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.ok-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.back-to-profile {
    background-color: #007bff;
}

.upload-button:hover,
.ok-button:hover,
.back-to-profile:hover {
    transform: scale(1.05);
}

/* Стили для загрузки фото */
.photo-upload h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.custom-file-upload {
    margin-bottom: 20px;
}

.custom-file-label {
    display: block;
    padding: 10px;
    background-color: #2575fc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    /* Добавим плавную анимацию перехода */
}

.custom-file-label:hover {
    background-color: #4070bd;
    /* Изменим цвет фона при наведении */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* Добавим тень */
}

.custom-file-input {
    display: none;
}


.uploaded-photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.uploaded-car-photo {
    width: 120px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для чекбоксов и секции тарифов */
.pricing-options {
    z-index: 10;
    position: relative;
    display: none;
    /* Изначально скрыто */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pricing-options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.pricing-options input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

/* Стили сообщений */
.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    color: #631111;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    opacity: 0.9;
}

.success {
    background-color: #28a745;
    color: rgb(0, 0, 0);
}

.danger {
    background-color: #b93542;
    color: rgb(0, 0, 0);
}

.info {
    background-color: #17a2b8;
    color: rgb(0, 0, 0);
}


.warning {
    background-color: #d8971e;
    color: rgb(0, 0, 0);
}

.error {
    background-color: #b93542;
    color: rgb(0, 0, 0);
}

.alert-dismissible {
    padding-right: 40px;
}