.navbar-brand {
    margin-left: 350px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.brand-text {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover .brand-text {
    color: #b18c48;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Container for main content */
.container {
    max-width: 1400px;
    margin: 100px auto 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}


/* Button styling */
.btn {
    display: inline-block;
    background: linear-gradient(45deg, #081f47, #2575fc);
    color: #fff;
    width: 140px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.btn-primary {
    background: linear-gradient(45deg, #124191, #1ab1c5);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1;
}


.btn-secondary:hover {
    background: linear-gradient(45deg, #081f47, #1ab1c5);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.btn-primary:hover {
    background: #0056b3;
}


/* Parking history table styling */
.parking-table {
    width: 100%;
    border-collapse: collapse;
}


.parking-table th,
.parking-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.parking-table th {
    background: #f7f7f7;
    font-weight: bold;
}


.parking-table tr:hover {
    background: #f1f1f1;
}


/* Status badge styling */
.status {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}


.status.paid {
    background: #28a745;
    color: #fff;
}


.status.unpaid {
    background: #dc3545;
    color: #fff;
}

/* Background style */
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}


/* Status badge style for paid/unpaid parking */
.status.unparked {
    background: linear-gradient(45deg, #12e0e0, #1ab1c5);
    transform: translateY(-3px);
    color: #241a1a;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.status.parked {
    background: #28a745;
    color: #fff;
}


/* Loading dots animation */
#loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 12px;
    /* Диаметр точки */
    height: 12px;
    margin: 0 4px;
    /* Расстояние между точками */
    background-color: rgb(116, 114, 223);
    border-radius: 50%;
    /* Делаем точки круглыми */
    opacity: 0;
    animation: blink 1.5s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.6s;
}

.dot:nth-child(5) {
    animation-delay: 0.8s;
}

.dot:nth-child(6) {
    animation-delay: 1s;
}

.dot:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}