/* Основные стили для навигации и фона */
.navbar-brand {
    margin-left: 350px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.brand-text {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover .brand-text {
    color: #b18c48;
}

/* Background style */
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}

/* Body styling */
body {
    font-family: 'Poppins', sans-serif; /* Заменено на современный шрифт */
    background: linear-gradient(to right, #243b55, #141e30); /* Градиентный фон */
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.profile-actions {
    display: flex;
    gap: 10px;
    margin-right: 220px;
}

/* Основной контейнер для контента */
.parking-container {
    max-width: 1000px; 
    width: 90%; 
    margin: 100px auto 50px;
    padding: 40px; 
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 20px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
}

/* Заголовок раздела */
.photo-upload h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1ab1c5;
}

/* Стили для отображаемых фотографий */
.uploaded-photos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.uploaded-car-photo {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #1ab1c5; /* Добавлены границы для фото */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для загрузки файла */
.custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.custom-file-label {
    width: 140px;
    display: block;
    padding: 10px;
    background: linear-gradient(45deg, #081f47, #2575fc);
    color: white;
    border-radius: 20px; /* Увеличены радиусы для большей округлости */
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-file-label:hover {
    background: linear-gradient(45deg, #081f47, #1ab1c5);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-file-input {
    display: none;
}

/* Стили для контейнера кнопок Save и Cancel */
.button-container {
    position: fixed; 
    left: 20px;
    bottom: 10px;
    display: flex;
    gap: 10px; 
    align-items: center;
    z-index: 100; 
}

/* Стили для контейнера кнопки Back to Profile */
.back-to-profile-container {
    position: fixed; 
    right: 20px;
    bottom: 10px;
    z-index: 100; 
}

/* Основные стили для кнопок */
.upload-button {
    display: inline-block;
    background: linear-gradient(45deg, #017c1e, #022c15); 
    color: #fff;
    width: 140px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.upload-button:hover {
    background: linear-gradient(45deg, #022c15, #017c1e);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.upload-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upload-button:disabled {
    background: linear-gradient(45deg, #8198d3, #f5f5f7);
    color: #ffffff;
    cursor: not-allowed;
}

/* Стили для кнопки Cancel */
.cancel-button {
    
    display: inline-block;
    background: linear-gradient(45deg, #b60513, #470202); 
    color: #fff;
    width: 140px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cancel-button:hover {
    background: linear-gradient(45deg, #470202, #b60513); 
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cancel-button:active {
    transform: translateY(1px);
}

/* Стили для кнопки Back to Profile */
.back-to-profile {
    display: inline-block;
    background: linear-gradient(45deg, #817576, #2b1e1e); 
    color: #fff;
    width: 140px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.back-to-profile:hover {
    background: linear-gradient(45deg, #2b1e1e, #817576); 
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.back-to-profile:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Стили для секции с тарифами */
.pricing-options {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Округление для современного вида */
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1; /* Чтобы кнопки были поверх тарифов */
}

.pricing-options p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #e0dfdf;
}

.pricing-options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.pricing-options input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}
/* Стили сообщений */
.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    color: #631111;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    opacity: 0.9;
}

.success {
    background-color: #28a745;
    color: rgb(0, 0, 0);
}

.danger {
    background-color: #b93542;
    color: rgb(0, 0, 0);
}

.info {
    background-color: #17a2b8;
    color: rgb(0, 0, 0);
}

.warning {
    background-color: #d8971e;
    color: rgb(0, 0, 0);
}

.error {
    background-color: #b93542;
    color: rgb(0, 0, 0);
}

.alert-dismissible {
    padding-right: 40px;
}
