/* Подключаем шрифт Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Background style */
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(21, 82, 99, 0.65)), to(rgba(21, 82, 99, 0.55)));
    background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}

.navbar-brand {
    position: absolute;
    margin-left: 350px;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #daabab; 
}


/* Стили для контейнера */
.container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Стили для карточки */
.card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 100%;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.card-body {
    padding: 20px;
}

/* Стили для текста в карточке */
.password-reset-sent h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #186933;
}

.password-reset-sent p {
    font-size: 16px;
    color: #555;
    margin-top: 0;
    line-height: 1.5;
}

/* Анимация появления карточки */
@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(-20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}