/* Background style */
.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(21, 82, 99, 0.65)), to(rgba(21, 82, 99, 0.55)));
    background: linear-gradient(to right, rgba(21, 82, 99, 0.65), rgba(21, 82, 99, 0.55));
}

.navbar-brand {
    position: absolute;
    margin-left: 350px;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #b1afaf;
}

/* Стили для контейнера */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    padding: 20px;
}

/* Стили для карточки */
.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.card-body {
    padding: 20px;
}

/* Стили для заголовка */
.card-title {
    font-size: 26px;
    font-weight: 600;
    color: #186933;
    margin-bottom: 20px;
}

/* Стили для текста в карточке */
.card-text {
    font-size: 16px;
    color: #555;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Стили для кнопок */
.btn-back {
    background: linear-gradient(#2464d1, #0846a3);
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn-back:hover {
    background: linear-gradient(#0846a3, #2464d1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Анимация появления */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
