<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    {% load static %}
    <link rel="icon" href="{% static 'app_accounts/images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app_accounts/css/login.css' %}">
    <script src="{% static 'app_accounts/js/login.js' %}" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <a class="navbar-brand" href="/">
        <span class="brand-text">
            WEB_WORLD: PARK-AUTO
        </span>
    </a>
    <div class="bg-box">
        <img src="{% static 'slider-bg.jpg' %}" alt="">
    </div>
    <div class="wrapper">
        <div class="form-container">
            <h2>Log In</h2>
            <a href="/" class="close-btn" id="close-btn">&times;</a>

            <p class="agreement-text" id="agreement-text">
                By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge that you understand the <a href="#">Privacy Policy</a>.
            </p>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" id="loginForm">
                {% csrf_token %}

                <div class="input-group">
                    <label for="identifier" class="required">Email or login</label>
                    <input type="text" name="email" class="form-control" id="id_email" placeholder="Email or login" required />
                    <span class="icon"><ion-icon name="person-sharp"></ion-icon></span>
                </div>
                <div class="input-group">
                    <label for="password" class="required">Password</label>
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required />
                    <span class="icon"><ion-icon name="key-sharp"></ion-icon></span>
                    <!-- Иконка для отображения пароля -->
                    <span class="toggle-password">
                        <ion-icon name="eye-off-sharp" id="toggle-password-icon"></ion-icon>
                    </span>
                </div>

                <div class="button-wrapper">
                    <button type="submit" class="button disabled-button" disabled>Log In</button>
                </div>
            </form>
            <div class="forgot-password-link">
                <a href="{% url 'app_accounts:password_reset' %}" id="forgot-password-link">Forgot password?</a>
            </div>
            <div class="signup-redirect">
                <p>New to W.W: Park-auto? <a href="{% url 'app_accounts:register_form' %}" id="signup-link">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>
