<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset done</title>
    {% load static %}
    <link rel="icon" href="{% static 'app_accounts/images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app_accounts/css/password_reset_done.css' %}">
</head>
<body>
    <div class="bg-box">
        <img src="{% static 'slider-bg.jpg' %}" alt="Background Image">
    </div>
    <div class="navbar">
        <a class="navbar-brand" href="/">
            WEB_WORLD: PARK-AUTO
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="password-reset-sent text-center">
                            <h2>Password reset request sent</h2>
                            <p>We've emailed you with instructions on how to reset your password.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>