<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_accounts/register.css' %}">
    <script src="{% static 'app_accounts/js/register.js' %}" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script>
        var shouldRedirect = {% if redirect %}true{% else %}false{% endif %};
        var redirectUrl = "{% if redirect %}{{ redirect_url|escapejs }}{% endif %}";
    </script>
    {% if redirect %}
        <script src="{% static 'app_accounts/js/redirect_script.js' %}"></script>
    {% endif %}
</head>
<body>
    <a class="navbar-brand" href="/">
        <span class="brand-text">WEB_WORLD: PARK-AUTO</span>
    </a>
    <div class="bg-box">
        <img src="{% static 'slider-bg.jpg' %}" alt="">
    </div>
    <div class="wrapper">
        <div class="form-container" id="form-container">
            <div style="position: relative;">
                <h2 id="signup-title">Sign Up</h2>
                <a href="/" class="close-btn" id="close-btn">&times;</a>
            </div>

            <p class="agreement-text" id="agreement-text">
                By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge that you understand the <a href="#">Privacy Policy</a>.
            </p>

            {% if messages %}
                <div id="messages-django">
                    <div id="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <form method="post" id="registration-form">
                {% csrf_token %}

                <div class="input-group">
                    <label for="{{ form.username.id_for_label }}">Login <span class="required">*</span></label>
                    <span class="icon"><ion-icon name="person-sharp"></ion-icon></span>
                    {{ form.username }}
                    <span class="validation-icon valid-icon">&#10004;</span>
                    <span class="validation-icon invalid-icon">&#10008;</span>
                    {% if form.username.errors %}
                    <div class="error">
                        {{ form.username.errors.as_text }}
                    </div>
                    {% endif %}
                </div>

                <div class="input-group">
                    <label for="{{ form.email.id_for_label }}">Email <span class="required">*</span></label>
                    <span class="icon"><ion-icon name="mail-sharp"></ion-icon></span>
                    {{ form.email }}
                    <span class="validation-icon valid-icon">&#10004;</span>
                    <span class="validation-icon invalid-icon">&#10008;</span>
                    {% if form.email.errors %}
                    <div class="error">
                        {{ form.email.errors.as_text }}
                    </div>
                    {% endif %}
                </div>


                <div class="input-group">
                    <label for="password1">Password <span class="required">*</span></label>
                    <span class="icon"><ion-icon name="key-sharp"></ion-icon></span>
                    {{ form.password1 }}
                    <!-- Добавляем идентификатор для поля пароля -->
                    <span class="validation-icon valid-icon">&#10004;</span>
                    <span class="validation-icon invalid-icon">&#10008;</span>
                    {% if form.password1.errors %}
                    <div class="error">
                        {{ form.password1.errors.as_text }}
                    </div>
                    {% endif %}
                </div>
                
                <div class="input-group">
                    <label for="password2">Confirm Password <span class="required">*</span></label>
                    <span class="icon"><ion-icon name="key-sharp"></ion-icon></span>
                    {{ form.password2 }}
                    <!-- Добавляем идентификатор для поля подтверждения пароля -->
                    <span class="validation-icon valid-icon">&#10004;</span>
                    <span class="validation-icon invalid-icon">&#10008;</span>
                    {% if form.password2.errors %}
                    <div class="error">
                        {{ form.password2.errors.as_text }}
                    </div>
                    {% endif %}
                </div>

                <div class="input-group">
                    <label for="{{ form.full_name.id_for_label }}">Full Name <span class="required">*</span></label>
                    <span class="icon"><ion-icon name="person-sharp"></ion-icon></span>
                    {{ form.full_name }}
                    <span class="validation-icon valid-icon">&#10004;</span>
                    <span class="validation-icon invalid-icon">&#10008;</span>
                    {% if form.full_name.errors %}
                    <div class="error">
                        {{ form.full_name.errors.as_text }}
                    </div>
                    {% endif %}
                </div>

                <div class="input-group">
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number <span class="required">*</span></label>
                    <span class="icon"><ion-icon name="call-sharp"></ion-icon></span>
                    {{ form.phone_number }}
                    <span class="validation-icon valid-icon">&#10004;</span>
                    <span class="validation-icon invalid-icon">&#10008;</span>
                    {% if form.phone_number.errors %}
                    <div class="error">
                        {{ form.phone_number.errors.as_text }}
                    </div>
                    {% endif %}
                </div>
                <button type="submit" id="register-now">Register Now</button>
            </form>

            <div class="login-redirect" id="login-redirect">
                <p>Already have an account? <a href="{% url 'app_accounts:login' %}" id="login-redirect">Log In</a></p>
            </div>
        </div>
    </div>
</body>
</html>